<!DOCTYPE html>
<html>
<head>
  <title>Registration Successful</title>
  <link rel="stylesheet" href="/styles/dashboards.css">
</head>
<body>
  <h1 class="main-header">Registration Successful!</h1>
  <p>Your account has been created. You may now log in.</p>
  <a href="/"><button class="btn" type="button">Main Page</button></a>
</body>
</html>