<!DOCTYPE html>
<html>
<head>
  <title>Register Patient</title>
</head>
<body>
  <h1>Register new patient</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/employee/add-patient" method="POST">
    <label for="fname">First Name:</label>
    <input type="text" name="fname" id="fname" required><br><br>
    <label for="lname">Last Name:</label>
    <input type="text" name="lname" id="lname" required><br><br>
    <label for="phone_number">Phone Number:</label>
    <input type="text" name="phone_number" id="phone_number" required><br><br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br><br>
    <label for="street">Street:</label>
    <input type="text" name="street" id="street" required><br><br>
    <label for="city">City:</label>
    <input type="text" name="city" id="city" required><br><br>
    <label for="state">State:</label>
    <input type="text" name="state" id="state" required><br><br>
    <label for="zip_code">Zip Code:</label>
    <input type="text" name="zip_code" id="zip_code" required><br><br>
    <button type="submit">Register</button>
    <button type="button" onclick="window.history.back()">Cancel</button>
  </form>
</body>
</html>
