<!-- Authors: Sean Clayton, Ivan Wong, Alex Loomis -->
<!DOCTYPE html>
<html>
<head>
  <title>Employee Login</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <h1 class="main-header">Employee Login</h1>
  <% if (error) { %>
    <p class="error-message" style="color: red;"><%= error %></p>
  <% } %>
  <form action="/login" method="POST">
    <input type="hidden" name="role" value="employee">
    <label class="label" for="ssn">Employee ID:</label>
    <input class="input" type="text" name="ssn" id="ssn" required>
    <button class="btn" type="submit">Login</button>
    <button class="btn" type="button" onclick="window.location.href='/'">Back</button>
  </form>
</body>
</html>
