<!-- HTML for Employee Dashboard -->
<!DOCTYPE html>
<html>
<head>
  <title>Employee Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= fname %>!</h1>
  <div>
    <h2>Instructions</h2>
    <p>Text here</p>
  </div>
  <div>
    <h3>Data Tables:</h3>
    <div>
      <h4>Offices</h4>
    </div>
    <div>
      <h4>Employees</h4>
    </div>
    <div>
      <h4>Doctors</h4>
    </div>
    <div>
      <h4>Patients</h4>
    </div>
    <div>
      <h4>Appointments</h4>
    </div>
    <div>
      <h4>Billing Statements</h4>
    </div>
  </div>
</body>
</html>