<!-- Authors: Sean Clayton, Ivan Wong, Alex Loomis -->
<!DOCTYPE html>
<html>
  <head>
    <title>Doctor's Office App</title>
    <script>
      function selectRole(role) {
        document.getElementById("role").value = role;
        document.getElementById("login-form").style.display = "block";
      }
    </script>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <h1 class="main-header">Welcome to the Doctor’s Office Database</h1>

    <% if (error) { %>
    <p class="error-message" style="color: red"><%= error %></p>
    <% } %>

    <p class="instruction-text">Select your role to continue:</p>
    <a href="/login/employee"><button type="button" class="btn">Employee</button></a>
    <a href="/login/patient"><button type="button" class="btn">Patient</button></a>
    <form action="/login" method="POST" style="display: inline">
      <input type="hidden" name="role" value="new_user" />
      <button type="submit" class="btn">New User</button>
    </form>
  </body>
</html>
