<!-- HTML for New User Dashboard -->
<!DOCTYPE html>
<html>
<head>
  <title>New User Dashboard</title>
</head>
<body>
  <h1>Welcome!</h1>
  <div>
    <h2>Instructions</h2>
    <p>Text Here</p>
  </div>
  <div>
    <h3>Data tables</h3>
    <div>
      <h4>Offices</h4>
    </div>
    <div>
      <h4>Doctors</h4>
    </div>
  </div>
</body>
</html>