<!DOCTYPE html>
<html>
<head>
  <title>Registration Successful</title>
</head>
<body>
  <h1>Registration Successful!</h1>
  <p>Your account has been created. You may now log in.</p>
  <a href="/"><button type="button">Main Page</button></a>
</body>
</html>