<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Billing Information</title>
  </head>
  <body>
    <div>
      <h2>Total Balance</h2>
      <p>$<%= total_amount.toFixed(2) %></p>
      <h2>Billing Statements</h2>
      <button type="button" class="add-bill-btn">
        Add Billing Statement
      </button>
      <table border="1">
        <tr>
          <th>Amount</th>
          <th>Billing Date</th>
          <th>Due Date</th>
        </tr>
        <% bills.forEach(bill => { %>
        <tr>
          <td>$<%= bill.amount_due.toFixed(2) %></td>
          <td><%= bill.billing_date %></td>
          <td><%= bill.due_date %></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <br />
    <button type="button" onclick="window.history.back()">Back</button>
  </body>
</html>
